{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}
  <form method="post" action="./{{ tid }}" class="default">
    <ul>
      <li class="hidden">{% csrf_token %}</li>
      {{ form.as_ul }}
      <li class="btn"><input type="submit" value="작성 완료" /></li>
    </ul>
  </form>
{% endblock %}