{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}

{% if form %}
<form method="post" action="./1" class="filter">
  <ul>
    <li class="hidden">{% csrf_token %}</li>
    {{ form.as_ul }}
    <li class="btn"><input type="submit" value="검색" /></li>
  </ul>
</form>
{% endif %}

<p>{{ category_name }} 카테고리의 상품 수: {{ goods_count }}</p>

<ul class="goods_list">
  {% for goods in goods_list %}
  <li>
    <ul class="goods_item">
      <li class="gl_tb">
        <a href="/goods/{{ goods.id }}">
          <img src="/media/{{ goods.thumbnail }}"
               width="128px" height="128px" />
        </a>
      </li>
      <li class="gl_info">
        <ul>
          <li class="gl_name">
            <a href="/goods/{{ goods.id }}">
              {{ goods.manufacturer }} {{ goods.name }}
            </a>
          </li>
          <li>가격: {{ goods.price }} 원</li>
          <li>적립금: {{ goods.mileage }} 포인트</li>
          <li>판매량: {{ goods.sales }}</li>
          <li>평균 평점: {{ goods.avg_score }}</li>
        </ul>
      </li>
      {% if user.is_authenticated %}
      <li class="gl_tocart">
        <a href="/add_to_cart/{{ goods.id }}/1">장바구니에 담기</a>
      </li>
      {% endif %}
    </ul>
  </li>
  {% empty %}
  <li class="empty">상품이 없습니다.</li>
  {% endfor %}
</ul>

<ul class="page_list">
  {% for i in page_range %}
  {% comment %}
  TODO: 페이지 이동마다 적절한 form post가 가능하게 수정
  {% endcomment %}
  <li>
    {% if i == page %}
    <span class="bold">{{ i }}</span>
    {% else %}
    <a href="{{ i }}">{{ i }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<p class="page_list">현재 {{ page }} / {{ page_count }} 페이지</p>


{% endblock %}