{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}
  <h3 class="top_label">
    {{ goods_info.manufacturer }} {{ goods_info.name }}
  </h3>
  <p class="gi_tb">
    <img src="/media/{{ goods_info.thumbnail }}"
         width="192px" height="192px"/>
    {% if user.is_authenticated %}
    <span class="gi_tocart">
      <a href="/add_to_cart/{{ goods_info.id }}/1">장바구니에 담기</a>
    </span>
    {% endif %}
  </p>
  <ul class="good_info">
    <li>
      <span class="attr">제조사:</span>
      <span class="value">{{ goods_info.manufacturer }}</span>
    </li>
    <li>
      <span class="attr">상품명:</span>
      <span class="value">{{ goods_info.name }}</span>
    </li>
    <li>
      <span class="attr">등록 일시:</span>
      <span class="value">{{ goods_info.regidate }}</span>
    </li>
    <li>
      <span class="attr">재고:</span>
      <span class="value">{{ goods_info.stock }}</span>
    </li>
    <li>
      <span class="attr">판매량:</span>
      <span class="value">{{ goods_info.sales }}</span>
    </li>
    <li>
      <span class="attr">평균 평점:</span>
      <span class="value">{{ goods_info.avg_score }}</span>
    </li>
    <li>
      <span class="attr">가격:</span>
      <span class="value">{{ goods_info.price }} 원</span>
    </li>
    <li>
      <span class="attr">적립금:</span>
      <span class="value">{{ goods_info.mileage }} 포인트</span>
    </li>
  {% if goods_info.category.pk == 1 %}
    <li>
      <span class="attr">키 스위치:</span>
      <span class="value">{{ goods_info.switch }}</span>
    </li>
    <li>
      <span class="attr">레이아웃:</span>
      <span class="value">{{ goods_info.layout }}</span>
    </li>
  {% elif goods_info.category.pk == 2 %}
    <li>
      <span class="attr">분류:</span>
      <span class="value">{{ goods_info.category }}</span>
    </li>
  {% endif %}
  </ul>  

  
  <h3 class="top_label">상품 상세 설명</h3>
  <p class="gi_desc">{{ goods_info.desc }}</p>
  <p>
    <img src="/media/{{ goods_info.descimg }}" />
  </p>
  
  <h3 class="top_label">상품 리뷰</h3>
  {% if user.is_authenticated %}
  <p><a href="/review/{{ goods_info.id }}">작성</a></p>
  {% endif %}
  {% for r in review_list %}
  <ul class="gi_cmt">
    <li><span class="bold">작성자: </span>{{ r.user }}</li>
    <li><span class="bold">점수: </span>{{ r.score }}</li>
    <li><span class="bold">작성 일시: </span>{{ r.created }}</li>
    <li><span class="bold">내용: </span>{{ r.content }}</li>
  </ul>
  {% empty %}
  <p class="empty">상품 리뷰가 등록되지 않았습니다.</p>
  {% endfor %}
  
  <h3 class="top_label">상품 정보 문의</h3>
  {% if user.is_authenticated %}
  <p><a href="/inquire/{{ goods_info.id }}">작성</a></p>
  {% endif %}
  {% for i in inquire_list %}
  <ul class="gi_cmt">
    <li><span class="bold">작성자: </span>{{ i.user }}</li>
    <li><span class="bold">작성일: </span>{{ i.created }}</li>
    <li><span class="bold">내용: </span>{{ i.content }}</li>
    {% for a in answer_list %}
    {% if a.inquire == i %}
    <li>&nbsp;</li>
    <li><span class="bold">답변: </span>{{ a.answer }}</li>
    <li><span class="bold">답변 일시: </span>{{ a.answered }}</li>
    {% endif %}
    {% endfor %}
  </ul>
  {% empty %}
  <p class="empty">상품 정보 문의가 등록되지 않았습니다.</p>
  {% endfor %}
{% endblock %}