{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}

  {% for consult in consult_list %}
  <dl class="consult_list">
    <dt class="title">{{ consult.title }}</dt>
    <dd class="content">{{ consult.content }}</dd>
    <dd class="created">{{ consult.created }}</dd>
    {% for answer in answer_list %}
    {% if answer.consult.id == consult.id %}
    <dt class="title">답변</dt>
    <dd class="content">{{ answer.answer }}</dd>
    <dd class="created">{{ answer.answered }}</dd>
    {% endif %}
    {% endfor %}
  </dl>
  {% empty %}
  상담 내역이 없습니다.
  {% endfor %}
  
  <p>
    <a href="/consult/write">상담 작성하기</a>
  </p>

{% endblock %}