{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}

<dl class="member">
  <dt><a href="/passwd">암호 변경</a></dt>
  <dd>로그인 암호를 변경합니다.</dd>
</dl>

<dl class="member">
  <dt><a href="/update">회원 정보 수정</a></dt>
  <dd>개인 정보를 수정합니다.</dd>
</dl>

<dl class="member">
  <dt><a href="/recipient">배송지 관리</a></dt>
  <dd>배송지를 추가하거나 수정/삭제할 수 있습니다.</dd>
</dl>

<dl class="member">
  <dt><a href="/order">주문 현황</a>
  <dd>현재 진행중인 주문 상황을 확인할 수 있습니다.</dd>
</dl>

<dl class="member">
  <dt><a href="/consult">1:1 상담</a></dt>
  <dd>특별 주문 문의나 기타 문의가 있을 때 이용하시면 됩니다.</dd>
</dl>

{% endblock %}