{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}
  <dl class="member">
    <dt>배송은 얼마나 걸리나요?</dt>
    <dd>배송 지역이나 상황에 따라 약 2~3일 정도 걸립니다.</dd>
  </dl>
{% endblock %}