{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}

{% if msg %}
  <p class="msg">{{ msg }}</p>
{% endif %}

  {% for rcpt in rcpt_list %}
  <dl class="rcpt_list">
    <dt>{{ rcpt.name }}</dt>
    <dd>{{ rcpt.rcpt_name }}</dd>
    <dd>{{ rcpt.rcpt_addr }}</dd>
    <dd>{{ rcpt.rcpt_phone }}</dd>
    <dd>
      <form method="post" action=".">
        {% csrf_token %}
        <input type="hidden" name="rcpt_id" value="{{ rcpt.id }}" />
        <input type="submit" value="삭제" />
      </form>
    </dd>
  </dl>
  {% empty %}
  <p>배송지가 없습니다.</p>
  {% endfor %}

  <p><a href="/recipient/add">배송지 추가</a></p>

{% endblock %}