* {margin:0; border:0; padding:0;}
a {color:#000; text-decoration:none;}
  a:active {color:#000; text-decoration:none;}
  a:hover {color:#000; text-decoration:none;}
  a:visited {color:#000; text-decoration:none;}
ul {list-style:none;}
  li {vertical-align:middle;}
  li.hidden {display:none;}
div.header {width:100%; height:96px;}
  h1 {min-width:360px; max-width:360px; height:100%;
      display:table-cell; float:left;}
  ul.navi {width:auto; height:100%; display:table; float:right;}
    ul.navi li {width:20%; padding-left:9px; padding-right:9px;
                padding-bottom:9px; text-align:center;
                vertical-align:bottom; display:table-cell;
                font-size:18px; font-weight:bold;}
  div.category {width:100%; height:54px; margin-bottom:18px;}
    div.category ul {width:100%; height:36px; display:table;
                     background:#6cf;}
      div.category ul li {min-width:25%; height:100%; text-align:center;
                          vertical-align:middle; font-weight:bold;
                          display:table-cell;}
        div.category ul li:hover {background:#03f; color:#fff;}
        div.category ul li a:hover {color:#fff;}
    h2 {height:auto; padding-left:9px; font-size:14px;
        font-weight:normal; background:#cff;}
  div.content {width:auto; height:100%; margin:18px;}
    h3.top_label {height:32px; margin:16px 0; padding-left:8px;
                  background:#eee; vertical-align:middle;
                  font-size:22px;}
    ul.top_list {width:auto; height:320px;}
      ul.top_item {width:192px; height:256px; border: 1px solid #ccc;
                   padding:16px; margin:0 16px 16px 16px;
                   text-align:center; vertical-align:middle;
                   display:inline; float:left;}
    
    form.filter ul {width:auto; height:auto; margin:16px; padding:8px;
                    background:#eee;}
      form.filter ul li {display:inline;}
      form.filter ul li label {display:inline;}
      form.filter ul li ul {display:block;}
        select {border:1px solid #999;}
        li.btn {display:block;}
        li.btn input {margin:20px 16px 4px; padding:4px;
                      border:1px solid #999;}
    
    form.default ul {width:auto; height:auto; margin:16px; padding:8px;
                     background:#eee;}
      form.default ul li {padding-left:16px; line-height:240%; display:table;}
      form.default label {display:table-cell; width:192px;}
      form.default input {display:table-cell;}
      span.helptext {display:block;}
    
    ul.goods_list {vertical-align:middle;}
      ul.goods_item {width:auto; height:128px; margin:16px;
                     padding:16px; border:1px solid #ccc;}
        ul.goods_item li.gl_tb {margin:0 48px 0 0; display:inline;
                                float:left;}
        ul.goods_item li.gl_info {min-width:60%; max-width:90%;
                                  float:left; line-height:160%;}
        ul.goods_item li.gl_tocart {width:auto; height:auto;
                                    margin:44px 8px; padding:8px;
                                    display:inline; float:right;
                                    background:#36c; font-weight:bold;
                                    border-radius:16px;}
          ul.goods_item li.gl_tocart:hover {background:#69f;}
          li.gl_tocart a {color:#fff;}
          ul li.gl_name {font-size:110%; line-height:180%;
                         font-weight:bold;}
    .empty {width:auto; height:32px; margin:16px;
            padding:16px; border:1px solid #ccc;}
    ul.page_list {text-align:center;}
    p.page_list {text-align:right;}
      span.bold {font-weight:bold;}
    
    p.gi_tb {width:192px; height:auto; margin:16px; padding:16px;
             display:inline; float:left;}
    ul.goods_info {display:inline; float:right;}
      span.attr {width:15%; margin-left:32px; display:inline; float:left;
                 line-height:200%; font-weight:bold;}
      span.value {width:auto; display:inline; line-height:200%;}
    
    span.gi_tocart {width:auto; height:auto; margin-left:32px; padding:8px;
                    background:#36c; float:left; text-align:center;
                    font-weight:bold; border-radius:16px;}
    span.gi_tocart:hover {background:#69f;}
    span.gi_tocart a {color:#fff;}
  p.gi_desc {width:auto; height:auto; margin:16px; padding:16px;}
  ul.gi_cmt {width:auto; height:auto; margin:16px; padding:16px;
            border:1px solid #ccc;}
  
  table {width:100%; height:auto;}
    th {height:24px; background:#9ff; text-align:center; border:1px solid #ccc;}
    td {text-align:center; border:1px solid #ccc;}
    
    td.tno {width:42px;}
    td.timg {width:96px;}
    td.tname {min-width:40%; max-width:60%; padding-left:16px; text-align:left;}
    td.tprice {width:128px; padding-right:8px; text-align:right;}
    td.tprice2 {width:96px; padding-right:8px; text-align:right;}
    td.titem {width:128px;}
    td.tdate {width:144px;}
    td.taddr {width:auto; padding-left:8px; text-align:left;}
    td.tphone {width:192px;}
    td.tbtn {width:96px;}
      td.tbtn input {margin:4px; padding:4px; border:1px solid #ccc;}
    td.tbtn2 {width:72px;}
    td.empty {margin:24px 0;}
  p.btn {margin:24px 0; text-align:center;}
    p.btn a {width:auto; height:auto; margin:0 36px; padding:8px;
              background:#36c; text-align:center; color:#fff;
              font-weight:bold; border-radius:16px;}
    p.btn a:hover{background:#69f;}
  
  td form input {margin:4px; padding:4px; border:1px solid #ccc;}
  
  dl {margin:16px 4px; padding:2px; border:1px solid #ccc;}
  dt {margin:4px 16px; padding:2px; font-weight:bold;}
  dd {margin:4px 24px; padding:2px;}
  
  form.paid1 {margin:16px 4px; padding:16px; border:1px solid #ccc;}
  form.paid1 ul li {margin:8x; padding:4px;}
  li input {padding:4px; border:1px solid #ccc;}
  li.submit input {margin:16px 4px; padding:4px; border:1px solid #ccc;}
  
  p.msg {height:42px; margin:16px 4px; padding:16px; background:#eee;
         vertical-align:middle;}
  p.msg img {display:inline; float:left;}
  div.footer {width:auto; border-top:9px solid #6cf;
              padding: 18px;}
    div.footer li {font-size:12px; color:#999;}
    div.footer a {color:#999;}