<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
          "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="ko-kr" />
  <meta name="viewport" content="width=device-width" />
  {% block script %}
  {% endblock %}
  <link rel="stylesheet" href="/media/css/screen.css"
        type="text/css" media="all" />
  <link rel="icon" type="image/png" href="/media/img/icon.png" />
</head>
<body>
<div class="header">
  <h1>
    <a href="/">
      <img src="/media/img/logo.png"
           alt="happyzehn : 고급 키보드 전문 쇼핑몰" />
    </a>
  </h1>
  
  <ul class="navi">
    {% if user.is_authenticated %}
    <li><a href="/logout">로그아웃</a></li>
    <li><a href="/cart">장바구니</a></li>
    <li><a href="/cscenter">고객 센터</a></li>
    {% else %}
    <li>&nbsp;</li>
    <li><a href="/login">로그인</a></li>
    <li><a href="/signup">회원 가입</a></li>
    {% endif %}
    <li><a href="/faq">FAQ</a></li>
  </ul>
</div>

<div class="category">
  <ul>
    <li><a href="/category0/1">전체 상품</a></li>
    <li><a href="/category1/1">키보드</a></li>
    <li><a href="/category2/1">악세사리</a></li>
    <li><a href="/category3/1">특별주문</a></li>
  </ul>
  <h2>현재 위치: {% block location %}{% endblock %}</h2>
</div>

<div class="content">
  {% block content %}
  {% endblock %}
</div>

<div class="footer">
  <ul>
    <li class="hidden">※ 주의: 아래 정보는 허구의 정보입니다.</li>
    <li class="hidden">※ CAUTION: The below information are FICTION.</li>
    <li>회사명: (유)해피젠</li>
    <li>주소: 689-765 울산광역시 울주군 범서읍 점촌7길 65</li>
    <li>업무 시간: 월~금요일 09시~18시</li>
    <li>은행 계좌: 농협 815113-52-062143 예금주 김완수</li>
    <li>택배 추적:
      <a href="http://service.epost.go.kr/iservice/trace/Trace.jsp"
         target="_blank">
        우체국 택배(1588-1300)
      </a>
    </li>
    <li>연락처: 052-211-9610</li>
    <li>대표: 김완수</li>
    <li>대표 이메일:
      <a href="mailto:support@happyzehn.com">support@happyzehn.com</a>
    </li>
    <li>사업자 등록번호: 101-05-87691</li>
    <li>통신판매업신고: 울산울주 제 961호
    <li>개인정보책임자: 서필교</li>
    <li>개인정보 유효기간: 회원 탈퇴시까지</li>
    <li>
      A/S 관련 택배 배송 시 편하신 택배사로 선불로 제품을 보내주시길 바랍니다.
    </li>
  </ul>
</div>

</body>
</html>
