{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}

<h3 class="top_label">신상품</h3>
<ul class="top_list">
{% for goods in new_goods %}
  <li>
    <ul class="top_item">
      <li>
        <a href="/goods/{{ goods.id }}">
          <img src="/media/{{ goods.thumbnail }}"
               width="192px" height="192px" />
        </a>
      </li>
      <li>
        <a href="/goods/{{ goods.id }}">
          {{ goods.manufacturer }} {{ goods.name }}
        </a>
      </li>
      <li>{{ goods.price }} 원</li>
    </ul>
  </li>
{% endfor %}
</ul>

<h3 class="top_label">인기 상품</h3>
<ul class="top_list">
{% for goods in popular_goods %}
  <li>
    <ul class="top_item">
      <li>
        <a href="/goods/{{ goods.id }}">
          <img src="/media/{{ goods.thumbnail }}"
               width="192px" height="192px" />
        </a>
      </li>
      <li>
        <a href="/goods/{{ goods.id }}">
          {{ goods.manufacturer }} {{ goods.name }}
        </a>
      </li>
      <li>{{ goods.price }} 원</li>
    </ul>
  </li>
{% endfor %}
</ul>


<h3 class="top_label">추천 상품</h3>
<ul class="top_list">
{% for goods in rated_goods %}
  <li>
    <ul class="top_item">
      <li>
        <a href="/goods/{{ goods.id }}">
          <img src="/media/{{ goods.thumbnail }}"
               width="192px" height="192px" />
        </a>
      </li>
      <li>
        <a href="/goods/{{ goods.id }}">
          {{ goods.manufacturer }} {{ goods.name }}
        </a
      ></li>
      <li>{{ goods.price }} 원</li>
    </ul>
  </li>
{% endfor %}
</ul>

{% endblock %}