{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block script %}
  {% if redirect_to == 'default' %}
  <meta http-equiv="refresh" content="5; url=/" />
  {% elif redirect_to == 'goods_info' %}
  <meta http-equiv="refresh" content="5; url=/goods/{{arg}}" />
  {% elif redirect_to == 'login' %}
  <meta http-equiv="refresh" content="5; url=/login" />
  {% endif %}
{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}
  <p class="msg">
  {% if type == 'error' %}
    <img src="/media/img/no.png" alt="에러"
         width="36" height="36"/>
  {% else %}
    <img src="/media/img/ok.png" alt="성공"
         width="36" height="36"/>
  {% endif %}
  {{ msg }}
  5초 후에
  {% if redirect_to == 'default' %}처음
  {% elif redirect_to == 'goods_info' %}상품 정보
  {% elif redirect_to == 'login' %}로그인
  {% endif %}페이지로 이동합니다.</p>
{% endblock %}
