{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}
<h3 class="top_label">장바구니</h3>
<table class="cart">
  <thead>
    <tr>
      <th>이미지</th>
      <th>상품명</th>
      <th>가격</th>
      <th>수량</th>
      <th>합계</th>
      <th>삭제</th>
    </tr>
  </thead>
  <tbody>
{% for item in cart %}
  <tr>
    <td class="timg">
      <img src="/media/{{ item.product.thumbnail }}"
           width="96px" height="96px"/>
    </td>
    <td class="tname">
      {{ item.product.manufacturer }} {{ item.product.name }}
    </td>
    <td class="tprice">{{ item.unit_price }} 원</td>
    <td class="tbtn">
      <form method="post" action="/update_cart_product_quantity/">
        {% csrf_token %}
        <input type="hidden" name="product_id"
               value="{{ item.product.id }}" />
        <input type="text" name="quantity"
               value="{{ item.quantity }}" size="3" />
        <input type="submit" value="변경" />
      </form>
    </td>
    <td class="tprice">{{ item.total_price }} 원</td>
    <td class="tbtn">
      <a href="/remove_from_cart/{{ item.product.id }}">삭제</a>
    </td>
  </tr>
{% empty %}
  <tr><td colspan="6" class="empty">장바구니에 상품이 없습니다.</td></tr>
{% endfor %}
  <tbody>
</table>

<p class="btn">
  <a href="/clean_cart">장바구니 비우기</a>
  <a href="/choice_rcpt">구매하기</a>
</p>

{% endblock %}