{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}

{% if paid_point_error %}
  <p class="msg">가지고 있는 포인트 이내로만 사용할 수 있습니다.</p>
{% endif %}

<dl>
  <dt>상품 금액</dt>
  <dd>{{ price }}</dd>
  <dt>사용 가능한 적립금</dt>
  <dd>{{ mileage }}</dd>
</dl>

{% if paid_methods %}
  <form method="post" action="." class="paid1">
  <ul>
  {% csrf_token %}
    <li>
      <label for="paid_point">포인트 사용: </label>
      <input type="text" id="paid_point"
             name="paid_point" value="0" size="6" />
     </li>
  {% for method in paid_methods %}
    <li>
      <input type="radio"
             id="paid_method_{{ method.id }}"
             name="paid_method"
             value="{{ method.id }}"
             {% if method.id == 1 %}
             checked="checked"
             {% endif %}
             />
      <label for="paid_method_{{ method.id }}">{{ method.name }}</label>
    </li>
  {% endfor %}
    <li class="submit"><input type="submit" value="다음" /></li>
  </ul>
  </form>
{% else %}
  <p class="msg">에러: 현재 사용할 수 있는 결제 수단이 없습니다.</p>
{% endif %}
  <p class="btn"><a href="/order/stop">취소</a></p>

{% endblock %}