{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>배송지 이름</th>
      <th>받는 사람 이름</th>
      <th>받는 사람 주소</th>
      <th>받는 사람 전화 번호</th>
      <th>선택</th>
    </tr>
  </thead>
  <tbody>
{% for item in recipient %}
    <tr>
      <td class="titem">{{ item.name }}</td>
      <td class="titem">{{ item.rcpt_name }}</td>
      <td class="taddr">{{ item.rcpt_addr }}</td>
      <td class="tphone">{{ item.rcpt_phone }}</td>
      <td class="tbtn">
        <form method="post" action=".">
          {% csrf_token %}
          <input type="hidden" name="rcpt_id" value="{{ item.id }}" />
          <input type="submit" value="선택" />
        </form>
      </td>
  </tr>
{% empty %}
  <tr><td colspan="5" class="empty">배송지가 없습니다.</td></tr>
{% endfor %}
  </tbody>
</table>

<p class="btn"><a href="/order/stop">취소</a></p>

{% endblock %}