{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}

{% if error_msg %}
  <p class="msg">{{ error_msg }}</p>
{% endif %}

{% comment %}
paid_method가 1이면 신용 카드, 2이면 무통장 입금
{% endcomment %}

<form method="post" action="." class="default">
  <ul>
    <li class="hidden">{% csrf_token %}</li>
    <li class="hidden">
      <input type="hidden" name="paid_method" value="{{ paid_method }}" />
    </li>
{% if paid_method == 1 %}
    <li>
      <label for="card_no">카드 번호: </label>
      <input type="text" id="card_no" name="card_no" maxlength="16" />
    </li>
    <li>
      <label for="card_pw">카드 비밀번호: </label>
      <input type="password" id="card_pw" name="card_pw" maxlength="4" />
    </li>
    <li>
      <label for="card_year">카드 유효기간(년): </label>
      <input type="text" id="card_year" name="card_year" maxlength="4" />
    </li>
    <li>
      <label for="card_month">카드 유효기간(월): </label>
      <select id="card_month" name="card_month">
        <option value="1">1월</option>
        <option value="2">2월</option>
        <option value="3">3월</option>
        <option value="4">4월</option>
        <option value="5">5월</option>
        <option value="6">6월</option>
        <option value="7">7월</option>
        <option value="8">8월</option>
        <option value="9">9월</option>
        <option value="10">10월</option>
        <option value="11">11월</option>
        <option value="12">12월</option>
      </select>
    </li>
    <li>
      <label for="card_cvc">카드 뒷면 CVC</label>
      <input type="password" id="card_cvc" name="card_cvc" maxlength="3" />
    </li>
{% elif paid_method == 2 %}
    <li>
      <label for="acc_no">계좌 번호: </label>
      <input type="text" id="acc_no" name="acc_no" maxlength="11" />
    </li>
    <li>
      <label for="acc_pw">계좌 비밀번호: </label>
      <input type="password" id="acc_pw" name="acc_pw" maxlength="4" />
    </li>
    <li>
      <label for="acc_name">입금자 이름: </label>
      <input type="text" id="acc_name" name="acc_name" />
    </li>
{% endif %}
    <li>
      <input type="submit" value="결제하기" />
    </li>
  </ul>
</form>

  <p class="btn"><a href="/order/stop">취소</a></p>
  
{% endblock %}
