{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}

<table>
  <thead>
    <tr>
      <th>이미지</th>
      <th>상품명</th>
      <th>가격</th>
      <th>수량</th>
      <th>합계</th>
    <trl>
  </thead>
  <tbody>
{% for item in order_items %}
    <tr>
      <td class="timg">
        <img src="/media/{{ item.product.thumbnail }}"
             width="96px" height="96px" />
      </td>
      <td class="tname">
        {{ item.product.manufacturer }} {{ item.product.name }}
      </td>
      <td class="tprice">{{ item.unit_price }} 원</td>
      <td class="titem">{{ item.quantity }}</td>
      <td class="tprice">{{ item.total_price }} 원</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<dl>
  <dt>결제 금액</dt>
  <dd>{{ total_price }} 원</dd>
  <dt>적립 예정</dt>
  <dd>{{ total_mileage }} 포인트</dd>
</dl>

<p class="btn">
  <a href="/order">주문 현황 보기</a>
  <a href="/">처음 페이지로</a>
  <a href="/order/stop">취소</a>
</p>

{% endblock %}