{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block location %}{{ location }}{% endblock %}

{% block content %}

<table>
  <thead>
    <tr>
      <th>주문 번호</th>
      <th>배송지</th>
      <th>주문 날짜</th>
      <th>주문 금액</th>
      <th>결제 날짜</th>
      <th>배송 날짜</th>
      <th>취소 여부</th>
      <th>구매 결정</th>
    </tr>
  </thead>
  <tbody>
{% for order in order_list %}
    <tr>
      <td class="tno">{{ order.id }}</td>
      <td>{{ order.delivery }}</td>
      <td class="tdate">{{ order.order_date }}</td>
      <td class="tprice2">{{ order.total_price }} 원</td>
      <td class="tdate">
      {% if order.paymented %}
        {{ order.payment_date }}
      {% else %}
        결제 대기중
      {% endif %}
      </td>
      <td class="tdate">
      {% if order.shipped %}
        {{ order.shipped_date }}
      {% else %}
        배송 준비중
      {% endif %}
      </td>
      <td class="tbtn2">
        {% if order.canceled %}
          취소됨
        {% else %}
        {% if not order.checked_out %}
        <form method="post" action="/order/cancel/">
          {% csrf_token %}
          <input type="hidden" name="order_id" value="{{ order.id }}" />
          <input type="submit"
                 {% if order.shipped %}
                 value="환불 신청"
                 {% else %}
                 value="주문 취소"
                 {% endif %}
                 />
        </form>
        {% else %}
          구매 확정됨
        {% endif %}
        {% endif %}
      </td>
      <td class="tbtn2">
      {% if order.canceled %}
        취소됨
      {% else %}
      {% if order.shipped %}
      {% if not order.checked_out %}
        <form method="post" action="/order/confirm/">
          {% csrf_token %}
          <input type="hidden" name="order_id" value="{{ order.id }}" />
          <input type="submit" value="구매 결정" />
        </form>
      {% else %}
        구매 확정됨
      {% endif %}
      {% else %}
        배송중
      {% endif %}
      {% endif %}
      </td>
    </tr>
{% empty %}
  <tr><td colspan="8">주문 내역이 없습니다.</td></tr>
{% endfor %}
</table>


{% endblock %}